/* 구글 웹폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset!! */
a {
    color: inherit;
    text-decoration: none;
}

/* 기본버튼의 레이아웃 못생겨서 안나오게 */
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

body {
    font-size: 14px;
    /* 구글에서 어케 쓰라고 알려주기까지 함. 사이트 하단부 확인 */
    font-family: 'Noto Sans KR', sans-serif;
}

/* 영어 폰트가 필요할 때는 클래스 en을 나중에 붙여주는 식으로 적용할거임. */
.en {
    font-family: 'Exo 2', sans-serif;
}

/* br태그는 줄바꿈인데 dp : none 이면 그 속성이 없어짐.
왜 굳이?? 라고 한다면 <모바일에서만!!!> 줄바꿈을 하라고 해주는 것. 
일단 없애고 나중에 모바일 환경에서 block으로 보이게 바꿔준다고 함.
none으로 해놓은 이유는 일단 지금은 하지 말라라는 뜻에서 해둔 것.*/
br.mo {
    display: none;
}


/* header */
header {
    /* background: tomato; */
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;
}

header .inner-header {
    /* background: greenyellow; */
    width: 84%;
    margin: 0 auto;
}


/* float을 할 때 가로 조정을 하고 넣어줘도 되지만
일단 깨지지 않는다면 조정하지 않고 그냥 해봐라.
누가 사이즈가 넘쳐서 수평배치에서 어긋난다면 그 때 조정. */
header .inner-header .logo {
    /* background: skyblue; */
    float: left;
    /* 로고 자체가 너무 커서 줄여보자 */
    width: 200px;
    /* 그랬더니 박스보다 이미지가 더 커졌네? */
}

/* 이 img 태그 가로 조정은 박스 크기 보다 이미지의 크기가 더 커서
삐져나오기 때문에 조정해준 것!!! 자주 쓰게될 방법임. */
header .inner-header .logo img {
    width: 100%;
}

/* 헤더 가운데 부분 */
header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}


/* .gnb나 .tnb가 nav이면서 li를 갖고 있기 때문에
수평 배치를 한번에 하기 위해서! */
header .inner-header nav li {
    float: left;
    /* margin-right: 80px; */
    font-size: 16px;
    color: #fff;
}
/*  */

header .inner-header .gnb li {
    margin-right: 80px;
}

header .inner-header .gnb li:hover {
    color: #ff8342;
}


/* 밑에 .tnb > li > a랑 똑같기 때문에 .nav li a로 묶어서 처리 가능!!!
나중에 한번에 교체해야 할 일이 생길 수 있기 때문.*/
header .inner-header .gnb li a {
    /* font-size: 16px; */
    /* color: #fff; */
    /* background: red; */
    display: block;
}


/* 헤더 오른쪽 부분 */
header .inner-header .tnb {
    /* background: orangered; */
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li a {
    /* font-size: 16px; */
    /* color: #fff; */
    text-align: center;
    /* display: block; */
}

/* 다른 방법
header .inner-header .tnb li:first-child,
header .inner-header .tnb li:nth-child(2) {} */
header .inner-header .tnb li:nth-child(-n+2) i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}

header .inner-header .tnb li:last-child a {
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    /* 위에 네줄까지 쳤더니 전체 블록 너비에 테두리 선이 그려짐.
    이런 경우에는 1. height를 고정 해주는 방법도 있음. */
    /* height: 20px; 이건 걍 해본 것. 원래는 auto */

    line-height: 2;
    /* height가 원래는 auto로 설정되어 있기 때문에 폰트 사이즈만큼의 16px일거임.
    그걸 2배 해줘서 32px로 된거임. */

    margin-top: 33px;
    /* margin-top으로 조정하는건 좀 원시적이긴 하지만 편하기도 한듯 
    이거 하나 때문에 position: absolute를 쓰기도..*/
}

header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    color: #ff8342;
}


/* mobile 메뉴 햄버거 버튼 숨김처리 */
header .inner-header .gnb-mobile {
    display: none;
}