@import url('common.css');

a {
    text-decoration: none;
    /* 부모에게 상속받은 글자색을 사용한다. */
    color: inherit;
}

body {
    background: grey;
}

#wrapper {
    /* background: pink; */
    width: 70%;
    margin: 0 auto;
    /* border-bottom: 4px solid blue; */
}

#wrapper header {
    background: orange;
    padding: 10px 20px;
}

#wrapper header h1 {
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 100px;
    margin-bottom: 20px;
}

#wrapper header h2 {
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.box {
    background: darkgray;
    padding: 5px;
}

.box p {
    text-align: center;
}

.container {
    /* background: ; */
    background: #fff;
}

.container .menu {
    width: 25%;
    float: left;
}

.container .menu h1 {
    background: red;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.container .menu .artist {
    background: #fff;
    padding: 10px;
}

.container .menu .artist li {
    margin-bottom: 20px;
}

.container .menu .artist li a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

/* 쌤 하는거 보면서 추가한 것 */
.container .menu .artist li a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #000;
}

.container .content {
    width: 50%;
    float: left;
    background: gainsboro;
    padding: 10px;
    box-sizing: border-box;
}

.content .title {
    background: #123456;
    padding: 10px 5px;
}

.content .title a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
}

/* 이것도 추가했음. 근데 이러면 글씨부분을 눌렀을 때만 색이 변함. 
속성이 인라인이기 때문!!! 인라인이라서 가로세로 길이를 늘릴 수는 없으니
속성 자체를 블록으로 바꿔주면 됨!!! */
.content .title a:hover {
    display: block;
    color: #ee0;
}

.content .artist {
    color: #123456;
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0px;
    box-sizing: border-box;
}

.content p {
    color: #123456;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.container .banner {
    width: 25%;
    float: right;
    background: #fff;
}

/* span, strong 등의 태그(인라인 속성이라 디테일한 설정은 필요, 블록 설정으로 만들어 준다던지~~)를 
활용하여 더 간단히 세팅 가능.
나는 블록 속성으로 잡았던 경우임!! */

.banner .world {
    padding: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.banner .world li {
    margin-bottom: 10px;
}

.banner .world li:first-child {
    color: darkgray;
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: underline;
}

.banner .world li:nth-child(2) {
    color: orange;
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: underline;
}

.banner .world li:last-child {
    font-size: 1.6em;
    font-weight: bold;
}

.banner .last {
    margin-left: 15px;
    box-sizing: border-box;
}

.banner .last li {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.banner .last li p {
    margin-top: 5px;
    box-sizing: border-box;
}

.banner .last li a {
    font-weight: bold;
    color: #000;
}

footer {
    background: #123456;
    padding: 20px;
}

footer address {
    font-size: 1.6em;
    text-align: center;
    color: #fff;
}

footer address a {
    color: #fff;
}
